.demo {
  margin: 16px;

  .demo-nav {
    height: 30px;
    line-height: 30px;
    margin-bottom: 16px;
    background: #f8f8f8;

    a {
      padding: 0 1%;

      .app-list {
        margin-top: 16px;
      }
    }
  }
}
